flows-chatbot.json
[{"id":"704c1194.e2dac","type":"tab","label":"Chatbot","disabled":false,"info":""},{"id":"7247f5a7.13aeec","type":"watson-conversation-v1","z":"704c1194.e2dac","name":"Assistant","workspaceid":"cfb77e7c-cae6-49d5-8ebc-97801042aa49","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/63d20861-f832-44e4-b953-43cfbc2d1776","timeout":"","optout-learning":false,"x":415,"y":160,"wires":[["9a8fdec8.4daca","f5001686.7c8c68"]]},{"id":"2cb7553e.b5707a","type":"function","z":"704c1194.e2dac","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":160,"wires":[["7247f5a7.13aeec","c299e726.e3fc48"]]},{"id":"9a8fdec8.4daca","type":"function","z":"704c1194.e2dac","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n        msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n    }\n    msg.payload=msg.payload.text;\n}\nelse{\n    msg.payload=msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":595,"y":155,"wires":[["bd084ba5.525fe8"]]},{"id":"f5001686.7c8c68","type":"debug","z":"704c1194.e2dac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":625,"y":65,"wires":[]},{"id":"bd084ba5.525fe8","type":"ui_text","z":"704c1194.e2dac","group":"9b3d6a0e.17d638","order":4,"width":"10","height":"14","name":"output","label":"","format":"{{msg.payload}}","layout":"col-center","x":755,"y":215,"wires":[]},{"id":"a6348aaf.80a558","type":"ui_form","z":"704c1194.e2dac","name":"","label":"","group":"6ce32c09.3f5f54","order":2,"width":0,"height":0,"options":[{"label":"Enter the input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":160,"wires":[["2cb7553e.b5707a"]]},{"id":"c299e726.e3fc48","type":"ui_text","z":"704c1194.e2dac","group":"6ce32c09.3f5f54","order":4,"width":0,"height":0,"name":"","label":"input","format":"{{msg.payload}}","layout":"row-spread","x":425,"y":240,"wires":[]},{"id":"9b3d6a0e.17d638","type":"ui_group","z":"","name":"Bot","tab":"ff734b8.ae7cfb8","order":4,"disp":true,"width":"10","collapse":false},{"id":"6ce32c09.3f5f54","type":"ui_group","z":"","name":"You","tab":"ff734b8.ae7cfb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ff734b8.ae7cfb8","type":"ui_tab","z":"","name":"Customer Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]